.for_file_drag {
  height: 600px;
}

.mdui-drawer {
  z-index: 5000;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

.mdui-container {
  max-width: 100%;
}
.only_line_input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}